# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # this Action should follow steps to set up Python build environment
      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v2
        with:
          path: "requirements.txt"

      # Runs a set of commands using the runners shell
      - name: run Django/Turkle server
        run: |
          echo 'Moving to src directory'
          cd src
          echo 'Print the current directory'
          pwd
          echo 'List the files in the current directory'
          ls -l
          echo 'Clone Turkle'
          ./1.run_website.sh & sleep 30
          echo 'Generate the input files'
          python 2.generate_input_csv.py
          echo 'Upload the tasks'
          python 3.upload_tasks.py
          echo 'run evaluation'
          python evaluation.py